*
!/.eslintignore
!/.eslintrc
!/.gitignore
!/.gitmodules
!/.nvmrc
!/.prettierignore
!/.prettierrc
!/jest.config.ts
!/jsdomFixups.ts
!/package.json
!/scripts/
!/scripts/**
!/src/
!/src/**
!/tsconfig.json
!/web
!/web.exclude
!/web.patch
!/yarn.lock
